* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.search {
    background: rgb(220, 219, 219);
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    height: 35px;
    color: #fff;
    border-radius: 7px;
    padding: 7px;
    display: flex;
    align-items: center;

}

.icons {
    color: black;
    margin: 0px 10px 0px 10px;
}

input {
    background: rgb(220, 219, 219);
    width: 90%;
    border: none;
    outline: none;
    color: black;
}

input::placeholder {
    color: black;
}